@media only screen and (max-width: 1024px){
.heading_section_home .main_section_btn{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.about_heading_section{
    margin-top: 52px !important;
    width: 100% !important;
    text-align: center;
}
.about_title_section{
    justify-content: center;
}
.about_section2 .row{
    flex-direction: column-reverse;
    align-items: center;
}
.about_section_img_main{
    display: flex;
    justify-content: center;
    padding: 0px !important;
}
#message_section .row{
    flex-direction: column;
    align-items: center;
}
.message_heading_section{
    width: 100% !important;
    align-items: center;
    margin-top: 68px !important

}
.message_btn{
    text-align: center;
}
#home_section .row{
    flex-direction: column-reverse;
}
.heading_section_home{
    width: 100% !important;
    margin-top: 62px !important;
}
.home_img_section{
    width: 78% !important;
}
}
@media only screen and (max-width: 991px){
    #navbar .nav{
        width: 100%;
    }
    .nav ul{
        width: 24rem;
    }
    .navbar_loding_btn{
        width: 9rem;
    }
    .message_img_section{
        display: flex;
        justify-content: center;
    }
    .icon_section i{
        padding-right: 6px;
    }
}
    